<div class="container">
  <div class="row mt-5">
    <div class="col-8">
      <h1>Categories</h1>
    </div>
    <div class="col-4">
      <a class="btn btn-primary" routerLink="/categories/create">
        <i class="fa fa-plus"></i> Create Category
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Tools</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categories">
            <td>{{ cat.title }}</td>
            <td>
              <a [routerLink]="'/category/update/' + cat._id" class="btn btn-sm btn-warning mr-1">
                <i class="fa fa-pencil"></i>
              </a>
              <button (click)="deleteCategory(cat._id)" class="btn btn-sm btn-danger">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
